/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env*
.nrepl-port
/log
.#*
.idea/
*.iml
figwheel_server.log
/public/resources/sitemap.xml
/public/resources/sitemap-1.xml
/public/resources/sitemap-2.xml