.DS_Store
.*
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env*
.nrepl-port
/log
.#*
.idea/
*.iml
figwheel_server.log
test-config.edn
dev-config.edn
/resources/public/sitemap.xml
/resources/public/sitemap-1.xml
/resources/public/sitemap-2.xml
/resources/public/sitemap-3.xml
/resources/public/sitemap-4.xml
micro/proxy/ssl/
resources/public/sitemap-phrases-0.xml
resources/public/sitemap-phrases-1.xml
resources/public/sitemap-phrases-2.xml
node_modules/