/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env*
.nrepl-port
/log
.#*
.idea/
*.iml
figwheel_server.log
/resources/public/sitemap.xml
/resources/public/sitemap-1.xml
/resources/public/sitemap-2.xml