{:production true
 :port       3000
 :cdn-url    "http://localhost:8099/"

 ;; :facebook-client-id     "<env variable>"
 ;; :facebook-client-secret "<env variable>"
 ;; :facebook-callback-uri  "<env variable>"
 ;; :users-database-url     "<env variable>"
 ;; :phrases-database-url   "<env variable>"
 ;; :indexer-url            "<env variable>"
 }
