{:sources {
           ;; :default [:self "http:" "https:" :unsafe-inline "ws:"]
           :media   ["https://cdn.playphrase.me"
                     "http://localhost:8099"
                     "http://uk7.internet-radio.com:8000"]}}
