{:sources {
           ;; :default [:self "http:" "https:" :unsafe-inline "ws:"]
           :media   ["http://localhost:8099"
                     "http://localhost:3033"
                     "http://localhost"
                     "http://35.204.116.220"
                     "http://playphrase.me"
                     "http://*.playphrase.me"
                     "https://*.playphrase.me"
                     "https://*.googleusercontent.com"
                     "https://storage.googleapis.com"
                     "https://accounts.google.com"
                     "https://storage.cloud.google.com"
                     "https://playphraseme8video.blob.core.windows.net"
                     "http://uk7.internet-radio.com:8000"]}}
