{:sources {
           ;; :default [:self "http:" "https:" :unsafe-inline "ws:"]
           :media   ["http://localhost:8099"
                     "http://localhost:3033"
                     "http://uk7.internet-radio.com:8000"]}}
