{:dev        true
 :port       3000
 :nrepl-port 7000

 :facebook-client-id     "<env variable>"
 :facebook-client-secret "<env variable>"
 :facebook-callback-uri  "<env variable>"
 :users-database-url     "<env variable>"
 :phrases-database-url   "<env variable>"
 :indexer-url            "<env variable>"}
