{:dev                    true
 :prerender-host         "http://localhost"
 :port                   3033
 :nrepl-port             7040
 :cdn-url                "https://playphraseme-video.sfo2.digitaloceanspaces.com"
 :users-database-url     "<env variable>"
 :phrases-database-url   "<env variable>"
 :facebook-client-id     "<env variable>"
 :facebook-client-secret "<env variable>"
 :facebook-callback-uri  "<env variable>"}
