{:dev                    true
 :prerender-host         "http://localhost"
 :port                   3033
 :nrepl-port             7040
 :cdn-url                "https://storage.googleapis.com/playphraseme-phrases-video"
 :facebook-client-id     "<env variable>"
 :facebook-client-secret "<env variable>"
 :facebook-callback-uri  "<env variable>"
 :users-database-url     "<env variable>"
 :phrases-database-url   "<env variable>"
 :indexer-url            "<env variable>"}
