<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="viewport" content="width=600,user-scalable=no">
    <title>PlayPhrase.me: Endless stream of movie clips of specific phrases (<%- phrase ? phrase.text : "" %>)</title>
  </head>
  <body>


    <div id="app"> </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
    {% style "/css/screen.css" %}

    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <script src="/js/iphone-inline-video.min.js"></script>

    <script type="text/javascript">
     var context = "{{servlet-context}}";
     var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}

    <script>
	   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	   ga('create', 'UA-56061701-1', 'auto');

	  </script>

  </body>
</html>
