<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	  <meta name="viewport" content="width=600,user-scalable=no">
    <title>{{page-title}}</title>
    <meta name="description" content="{{page-description}}" />
	  <!-- <meta name="google-site-verification" content="MhTRfnejZ0JQzlv5U0Uk3cd7gwp5zPp6_ESyEYZJy4w" /> -->
    <meta name="google-site-verification" content="Y0UnA_-WvGLPD-d1ctaHnwJ2q2yzb8wdqgJbKHPJCUw" />
    <meta property="fb:app_id" content="{{ facebook-app-id }}" />
	  <meta name="twitter:site" content="@playphraseme">
	  <meta name="twitter:title" content="Playphrase.me">

	  <meta property="og:title" content="Playphrase.me">
	  <meta property="og:locale" content="en_US">
  </head>
  <body>

    <div id="app">
      <!-- static content here -->
      {{static-content}}
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
    {% style "/css/screen.css" %}
    {% style "/css/modal-image.css" %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://wzrd.in/standalone/copy-to-clipboard@latest" async></script>

    <script src="/js/iphone-inline-video.min.js"></script>

    <script type="text/javascript">
     var context = "{{servlet-context}}";
     var csrfToken = "{{csrf-token}}";
     var searchOnMobile = {{search-on-mobile}}; 
     var searchedPhrase = "{{searched-phrase}}"; 
    </script>
    {% script "/js/app.js" %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56061701-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'UA-56061701-1');
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12&appId=1362865573739831&autoLogAppEvents=1';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
