/* Style the Image Used to Trigger the Modal */
.modal-image-containter {
  margin: 18px 0px;
}
.modal-image-containter img{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px #ccc solid;
    margin: 8px;
}

.vertical-modal-image {
  height: 135px;
  width: 62px;
}

.horizontal-modal-image {
  width: 135px;
  height: 62px;
}

.modal-image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
}

.modal-content, .caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-device-width: 800px) and (orientation : portrait) {
.modal-image-containter {
  margin: 18px 0px;
}
.modal-image-containter img{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px #ccddc solid;
  margin: 8px;
}

.vertical-modal-image {
  height: 270px;
  width: 124px;
}

.horizontal-modal-image {
  height: 124px;
  width: 270px;
}
}
