.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px;
}

*:focus {
	outline: none !important;
}

textarea:focus, input:focus{
  outline: none;
}

button, input {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.box {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
}

.grow {flex-grow: 1}

html, body {
  font-family: 'Roboto', sans-serif !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.layout-container {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  padding: 22px 0;
  height: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: stretch;
  align-content: stretch;
  /* justify-content: stretch; */
}

.left-column {
  background-color: rgba(0,0,0,0.3);
  flex-grow: 1;
}

.right-column {
  background-color: rgba(0,0,0,0.3);
  flex-grow: 1;
}

.layout-main {
  width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
}

.header {
  height: 95px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.05);
  border-bottom: 4px solid rgba(0,0,0,0.2);
}

.header .top {
  display: flex;
  justify-content: space-between;
}

.header-button {
  padding: 8px 12px;
  color: gray;
  text-decoration: none;
  font-size: 9px;
}

.header .bottom {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 12px;
}

.header .logo {
  font-size: 35px;
  font-family: 'Gloria Hallelujah';
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

.header .logo .red {color: red}
.header .logo .black {color: black}
.header .logo .gray {color: gray}

.header .statistic {
  overflow: hidden;
}

.header .statistic .count{
  font-size: 28px;
}

.header .statistic .info{
  padding-left: 6px;
  font-size: 14px;
  color: gray;
}

.header .translate-direction {
  font-size: 24px;
  overflow: hidden;
  margin-bottom: 8px;
  user-select: none;
  cursor: pointer;
}

.header .translate-direction .select-button{
  padding: 2px 8px;
  color: white;
  background-color: rgba(0,0,0,0.15);
  /* box-shadow: 0 0 5px 0 rgba(0,0,0,0.50); */
  border-radius: 4px;
}

.header .translate-direction .arrow{
  color: gray;
  padding: 0 8px;
}

.current-page-container {
  position: relative;
  height: 100%;
}

.article-container {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  overflow-y: auto;
  padding: 16px;
}

.video-player-container {
  position: absolute;
  left: 0px; right: 0px; top: 0px;
  background-color: black;
  height: 340px;
  overflow: hidden;
}

.video-player-box {
  background-color: black;
  position: absolute;
  left: 0px; right: 0px; top: 0px;
  height: 340px;
  text-align: center;
  overflow: hidden;
}

.video-player {
  height: 97%;
  margin: 5px auto;
	transition: opacity 0.4s ease-in-out;
}

.overlay-logo {
  opacity: 0.5;
  position: absolute;
  height: 36px;
  bottom: 10px;
  left: 15px;
  font-size: 28px;
  font-family: 'Gloria Hallelujah';
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.overlay-logo .red {color: red}
.overlay-logo .black {color: white}
.overlay-logo .gray {color: rgba(255,255,255,0.4)}

.overlay-play-icon {
  position: absolute;
  font-size: 55px;
  right: 20px;
  top: 20px;
  color: black;
  opacity: 0.5;
}

.overlay-video-info {
  position: absolute;
  right: 20px;
  font-size: 12px;
  bottom: 10px;
  max-width: 500px;
  color: rgba(255,255,255,0.6);
}

.overlay-video-info:hover {
  color: white;
}

.overlay-video-info:visited {
  color: rgba(255,255,255,0.6);
}
.search-container {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
}

.search-content {
  position: relative; height: 100%; width: 100%;
}

.search-ui-container {
  position: absolute;
  left: 0px; right: 0px; top: 340px;
  height: 66px;
}

.search-results-container {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 406px;
  overflow-y: auto;
}

.suggestions-container {
  position: absolute;
  left: 10px; right: 10px; bottom: 0px; top: 400px;
  overflow-y: auto;
  padding: 0px 15px;
  border: 1px #ccc solid;
}

.suggestion {
  display: flex;
	color: #999;
	font-size: 16px;
	cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px rgba(0,0,0,0.1) solid;
}

.suggestion.higlited {
  color: black;
  /* background-color: rgba(0,0,0,0.05); */
}

.search-results-results .results .one-result{}

.phrase-text {
  width: 100%;
}

.karaoke {
  display: flex;
  flex-wrap: wrap;
}

/* -------------- */

.s-word{
	background-color: rgba(0,0,0,0);
	color: #333;
	font-size: 16px;
	cursor: pointer;
	padding: 3px;
	outline: none;

	/*font-family: 'Roboto';*/
	/*font-weight: 400;*/
}

word, word:active, word:focus{
	outline:none !important;
	border: none;
}

.s-word-searched {
	text-decoration: underline;

}
.s-word-played {
	background-color: rgba(0,0,0,1);
	color: white;
}
.w-invalid {
	background-color: yellow;
}

.s-invalid {
	background-color: #FFFFE0;
}

.current-phrase .s-word{
  color: black;
}

.current-phrase .s-word-played {
  color: white;
}

/* -------------- */

.phrase-number{
  padding-top: 4px;
	text-align:right;
  color: #ccc;
}

.translate-icons{
	white-space: nowrap;
}

.translate-icons a{
}

.lang-in-circle{
	display: inline-block;
	width:20px;
	height:20px;
	border-radius:9px;
	font-size:14px;
	color:#ccc;
	font-weight: bold;
	line-height:18px;
	text-align:center;
	text-transform: lowercase;
	background:rgba(0,0,0,0.03);
}

.lang-in-circle.heart {
  margin: "2px 0px 0px 0px";
  font-size: 10px;
}

.lang-in-circle.link {
  font-size: 12px;
}


.lang-in-circle:hover{
	background:rgba(0,0,0,0.2);
	color: white;
	text-decoration: none;
}
.lang-in-circle:focus{
	color: white;
}

.filters-container {
  position: relative; height: 100%;
  padding: 10px;
}

.filter-input {
	font-size: 18px;
	height: 46px;
  padding-left: 12px;
}

.filter-input::placeholder {
  color: rgba(0,0,0,0.3);
}

.filter-input:focus {
	border-color: #66afe9 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
}

.search-result-count{
	margin-right: 6px;
	font-weight: bold;
	opacity: .3;
}

.filter-input-icons {
  position: absolute;
  right: 20px;
  top: 21px;
  font-size: 12px;
  list-style-type: none;
}

.filter-input-icons > li {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 12px;
}

.filter-input-icon {
  opacity: 0.3;
}

.filter-input-icon:hover {
  opacity: 0.6;
}

.play-icon{
  padding-left: 3px;
}

.play-icon2{
  padding-left: 10px;
}

.currrent-pharase-container-landscape {display: none;}

.video-overlay-menu {
  position: absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
  list-style-type: none;
  padding: 0px;
}
.video-overlay-menu li {
  margin-bottom: 12px;
}
.video-overlay-menu i {
  color: "white" !important;
  font-size: 33px;
}
.video-overlay-menu .info-text {
  margin-top: -5px;
  font-size: 8px;
}
@media only screen and (max-device-width: 800px) and (orientation : portrait){
  .header-button {
    padding: 8px 12px;
    font-size: 13px;
  }
  .search-results-container {
    left: 0px; right: 0px; bottom: 0px; top: 440px !important;
  }

  .s-word{
	  font-size: 33px !important;
  }

  .phrase-number{
    font-size: 22px !important;
  }

  .filter-input {
	  font-size: 38px !important;
	  height: 79px !important;
    padding: 20px !important;
  }

  .search-result-count{
	  margin-right: 6px !important;
	  font-weight: bold !important;
	  opacity: .3;
  }

  .filter-input-icons {
    position: absolute;
    right: 30px !important;
    top: 30px !important;
    font-size: 22px !important;
  }

  .suggestions-container {
    left: 10px; right: 10px; bottom: 0px; top: 440px !important;
  }

  .suggestion {
	  font-size: 33px !important;
  }
}

@media only screen and (max-device-width : 800px) and (orientation : landscape){
	.mobile-query{
		display: box;
	}
  .header {
    display: none !important;
  }
  .search-ui-container{
    display: none !important;
  }
  body {
    background-color: black !important;
    position: relative !important;
    overflow: hidden !important;
  }
  .search-container {
    position: absolute;
    left: 0px; right: 0px; bottom: 0px; top: 0px !important;
    background-color: white;
    overflow: hidden !important;
  }
  .video-player-container {
    position: absolute;
    left: 0px; right: 0px; bottom: 0px; top: 0px !important;
  }
  .video-player {
    height: 100% !important;
    margin: 0px auto !important;
	  transition: opacity 0.4s ease-in-out;
  }
  .overlay-play-icon {
    font-size: 35px !important;
    top: 40px;
  }
  .currrent-pharase-container-landscape {
    display: block !important;
    position: absolute;
    bottom: 45px;
    left: 15px;
    right: 15px;
    text-align: center;
    padding: 2px 8px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  }
  .s-word {
    color: black !important;
  }
  .s-word {
    color: rgba(0,0,0,0.7) !important;
  }
  .s-word-played {
    color: rgba(255,255,255,0.7) !important;
    background-color: rgba(0,0,0,0.8) !important;
  }
}


