textarea:focus, input:focus{
  outline: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.red {background-color: red;}
.blue {background-color: blue;}
.green {background-color: green;}

.box {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  background-color: red;
}

.grow {flex-grow: 1}

html, body {
  font-family: 'Roboto', sans-serif !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.layout-container {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  background-color: red;
  padding: 22px 0;
  height: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: stretch;
  align-content: stretch;
  /* justify-content: stretch; */
}

.left-column {
  background-color: blue;
  flex-grow: 0.2;
}

.right-column {
  background-color: blue;
  flex-grow: 0.2;
}

.layout-main {
  flex-grow: 0.6;
  display: flex;
  flex-direction: column;
  background-color: green;
}

.header {
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header .top {
  display: flex;
  justify-content: space-between;
}

.header .bottom {
  background-color: gray;
  flex-grow: 1;
  display: flex;
}

.header-button {
  padding: 8px 16px;
  background-color: white;
  /* text-decoration: underline; */
  color: black;
}

.current-page-container {
}



