textarea:focus, input:focus{
  outline: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.box {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
}

.grow {flex-grow: 1}

html, body {
  font-family: 'Roboto', sans-serif !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.layout-container {
  position: absolute;
  left: 0px; right: 0px; bottom: 0px; top: 0px;
  padding: 22px 0;
  height: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: stretch;
  align-content: stretch;
  /* justify-content: stretch; */
}

.left-column {
  background-color: rgba(0,0,0,0.3);
  flex-grow: 0.25;
}

.right-column {
  background-color: rgba(0,0,0,0.3);
  flex-grow: 0.25;
}

.layout-main {
  /* flex-grow: 0.5; */
  width: 680px;
  display: flex;
  flex-direction: column;
  background-color: green;
}

.header {
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.header .top {
  display: flex;
  justify-content: space-between;
}

.header-button {
  padding: 8px 16px;
  background-color: white;
  color: gray;
}


.header .bottom {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 16px;
}

.header .logo {
  font-size: 40px;
	font-family: 'Gloria Hallelujah';
  overflow: hidden;
}

.header .logo .red {color: red}
.header .logo .black {color: black}
.header .logo .gray {color: gray}

.header .statistic {
  overflow: hidden;
}

.header .statistic .count{
  font-size: 30px;
}

.header .statistic .info{
  padding-left: 6px;
  font-size: 18px;
  color: gray;
}

.header .translate-direction {
  font-size: 28px;
  overflow: hidden;
  margin-bottom: 8px;
}

.header .translate-direction .select-button{
  padding: 2px 8px;
  color: white;
  background-color: rgba(0,0,0,0.15);
}

.header .translate-direction .arrow{
  color: gray;
  padding: 0 8px;
}

.current-page-container {
}



